[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.0.2"
mlflow = "*"
pandas = "*"
seaborn = "*"
hyperopt = "*"
matplotlib = "*"
pyarrow = "*"
setuptools = "*"
prefect = "==2.0.4"
pymongo = "*"
numpy = "*"

[dev-packages]
requests = "*"
ipykernel = "*"
pylint = "*"
pytest = "*"
black = {extras = ["jupyter"], version = "*"}
pre-commit = "*"
isort = "*"
install = "*"

[requires]
python_version = "3.9"
